{% extends 'products/base.html' %}
{%load staticfiles%}

<head>


{% block title%}Табак{%endblock %}
</head>
<body>
{% block ext_js %}
    {% csrf_token %}
    <script type="text/javascript">


        $(document).ready(function(){
            $('#but1').click(function(){

                var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '/cart/empty_cart/',
                success: function (){
                    location.href = '/cart/';
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            })
            });
            $('.but2').click(function(){
                var id_product = $('#id_product').val()
                var csrftoken = getCookie('csrftoken');
            $.ajax({
                url:'/cart/remove_item/',
                type:'post',
                data:{id_product},

                success: function (){
                    location.href = '/cart/';
                    },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            })
            });
        });
    </script>


{% endblock ext_js %}
{%block content%}
    {%for items in cart_item%}
    <li>{{items.product.company}} {{items.product.flower}} {{items.quantity}}
    {{items.product.cost}}
        <input id="id_product" type="hidden" value={{items.id}}>
        <input class="but2" type="submit" value="del"></li>
            <!--<a href="/cart/remove_item/"><img src="{% static 'products/del.png'%}"width="20px" height="20px"></a>-->
    {%endfor%}
    ИТОГО: {{cart_subtotal}}
    <li> <input id="but1" type="button" value="Пустая корзина"/></li>
    <form action="{% url 'order:order' %}" method="post">
        {% csrf_token %}
            <input id="but3" type="submit" value="Оформить заказ">
        <input id="cart_id" type="hidden" name="cart_id" value={{cart_id}}>
        <input id="cart_subtotal" type="hidden" name="cart_subtotal" value={{cart_subtotal}}>
    </form>
    {%endblock%}


</body>
</html>