{% extends 'products/base.html' %}

{% block title%}Оформление заказа{%endblock %}

{%block content%}
    <form action="{% url 'order:add_info' %}" method="post">
    {% csrf_token %}
    <li>{{ detail.company }} {{ detail.flower }}</li>
    <li>Количетсво: {{ quantity }}</li>
{#    <li><input id=="first_name", name="first_name", placeholder="Введите Имя"></li>#}
{#   <li> <input name="last_name", placeholder="Введите Фамилию"></li>#}
{#    <li><input type="email", name="email", placeholder="Введите email"></li>#}
{#    <li><input type="tel", name="tel_numb", placeholder="Введите номер телефона"></li>#}
{#    <li><input name="city", placeholder="Укажите город"></li>#}
{#    <li><input type="text", placeholder="Комментарий к заказу"> </li>#}


    {{ form.as_p }}
    {% for deliveres in delivery%}
        <li><input type="radio", name="delivery", id="delivery{{ forloop.counter }}", value="
        {{ delivery.type_delivery}}"> {{ deliveres.type_delivery }}</li>
    {% endfor %}
    <li>Комментарий к заказу: </li>
        <li><textarea name="comment" cols="30" rows="5" maxlength="300" ></textarea></li>
    <li> <input id="but1" type="submit" value="Оформить"/></li>
    </form>

{%endblock%}