{% extends 'products/base.html' %}
{%load staticfiles%}

{% block title%}Табак{%endblock %}
{% block ext_js %}
    {% csrf_token %}
    <script type="text/javascript">


        $(document).ready(function(){

            $("#but1").click(function(){
                var quantity = $('#id_quantity').val()
                var product_id =$('#product_id').val()
                var csrftoken = getCookie('csrftoken');
                //var csrftoken = $.cookie("csrftoken");


                $.ajax({
                    url:'/cart/add_to_cart/',
                    type : 'post',
                    data: {quantity:quantity,
                        product_id:product_id
                    },

                    beforeSend: function (xhr, settings) {
                       xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }

                })
            });
        });

    </script>
{% endblock ext_js %}




{%block content%}
    <!--<form action="{% url 'cart:add_to_cart' %}" method="post">-->
    <!--{% csrf_token %}-->
    {% for details in detail %}
        <center><img src="{{details.image.url}}" title="{{details.flower}}" /></center>
        {%for companys in company%}
            <p>{{companys.name_company}}</p>


        {%endfor%}
        <div>
            <p>{{details.flower}}</p>
            <p> Цена:{{details.cost}}</p>
            <p> Вес:{{details.weight_tobacco}}</p>
            <input  type='hidden' id = "product_id" name="product_id" value="{{ details.id }}">
            {{ ProductAddToCartForm }}
        </div>
    {%endfor%}

     <p><input id="but1" type="submit" value="Добавить в корзину"/></p>
    <a action="{% url 'cart:show_cart' %}" method="post"></a>
        {% csrf_token %}
        <div id="shop"> <a href="/cart/"><img src="{% static 'shop.png'%}" width="35px" height="35px"></a></div>

<!--</form>-->


{%endblock%}