{%extends 'products/base.html'%}
{%block title%}Кальян{%endblock%}
{%block content%}

    {% for details in detail %}

        {%for companys in company%}
            <li> {{companys.name_company}}</li>
        {%endfor%}
        <li> Модель:{{details.model}}</li>
        <li> Цена: {{details.cost}} грн</li>
        <li> Высота: {{details.height_shisha}} см</li>
        <li> Тип чаши: {{details.type_bowls}}</li>

    {%endfor%}
<form action="order" method="post">

    <input type="submit" value="Купить" />
</form>
{%endblock%}