<!--
    <li><a href="{%url 'products:tobacco'%}">Табак</a></li>
    <li><a href="{%url 'products:other'%}">Разное</a></li>
    <li><a href="{%url 'products:shisha'%}">Кальян</a></li>
  -->
{%block head%}
    {%block tobacco%}<li><a href="{%url 'products:tobacco'%}">Табак</a></li>{%endblock%}
    {%block shisha%}<li><a href="{%url 'products:shisha'%}">Кальян</a></li> {%endblock%}
    {%block other%}<li><a href="{%url 'products:other'%}">Разное</a></li>{%endblock%}
{%endblock%}

{% block page %}
	{% block content %}
	{% endblock %}
{% endblock %}
